<?xml version="1.0" encoding="utf-8"?>
<!-- 修改之处一包名package 内置版本号versionCode 外置版本号versionName -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.fanwe.yi"
          android:versionCode="2016092901"
          android:versionName="1.5.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 打开相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 缓存资源优先存入SDcard 下载安装有关 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 更改无线网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问无线网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- 腾讯定位 sdk 要求的权限  (开始) -->
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 腾讯定位 sdk 要求的权限 (结束) -->

    <application
        android:name="com.fanwe.hybrid.app.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/AppThemeInit"
            android:name="com.fanwe.hybrid.activity.InitActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 升级服务 -->
        <service android:name="com.fanwe.hybrid.service.AppUpgradeService">
        </service>

        <!-- 网络状态监听广播 -->
        <receiver android:name="com.ta.util.netstate.TANetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.gzcpc.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 广告轮播页面 -->
        <activity
            android:name="com.fanwe.hybrid.activity.InitAdvListActivity"
            android:screenOrientation="portrait"/>

        <!-- 主页面 -->
        <activity
            android:name="com.fanwe.hybrid.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- 广告页面 -->
        <activity
            android:name="com.fanwe.hybrid.activity.AdImgActivity"
            android:screenOrientation="portrait"/>

        <!-- 二维码扫描 -->
        <activity
            android:name="com.fanwe.hybrid.activity.MyCaptureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- 无网络页面 -->
        <activity
            android:name="com.fanwe.hybrid.activity.NoNetWorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- WebView页面 -->
        <activity
            android:name="com.fanwe.hybrid.activity.AppWebViewActivity"
            android:screenOrientation="portrait"/>

        <!-- 微信回调activity -->
        <activity
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="@string/wx_app_id"/>
            </intent-filter>
        </activity>


        <!-- 微信支付SDKstart======================= -->
        <!-- 微信支付SDK -->
        <activity
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 微信支付SDK end======================= -->
        <!-- 友盟推送start============================================= -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_appkey">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="@string/umeng_message_secret_push">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID">
        </meta-data>
        <!-- 友盟end=============================================================== -->


        <!-- 修改之处三腾讯地图value -->
        <!-- 您的发布产品中请不要使用这个 key !!! -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="@string/tencent_appkey"/>
    </application>

</manifest>